@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-text: #0f172a;
  --ui-text-highlighted: #020617;
  --ui-text-muted: #334155;
  --ui-text-dimmed: #64748b;
  --ui-bg: #f8fafc;
  --ui-bg-elevated: #ffffff;
  --ui-bg-accented: #f1f5f9;
  --ui-border: #e2e8f0;
}

.dark {
  --ui-text: #f1f5f9;
  --ui-text-highlighted: #ffffff;
  --ui-text-muted: #94a3b8;
  --ui-text-dimmed: #64748b;
  --ui-bg: #09090b;
  --ui-bg-elevated: #18181b;
  --ui-bg-accented: #27272a;
  --ui-border: #27272a;
}

@theme static {
  --font-sans: 'Inter', 'Public Sans', system-ui, sans-serif;

  --color-green-50: #ECFDF5;
  --color-green-100: #D1FAE5;
  --color-green-200: #A7F3D0;
  --color-green-300: #6EE7B7;
  --color-green-400: #34D399;
  --color-green-500: #10B981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065F46;
  --color-green-900: #064E3B;
  --color-green-950: #022C22;
}
