DB_URL=postgresql+asyncpg://postgres:password@localhost/pos_system

JWT_SECRET=
DOMAIN_NAME=localhost
APP_ENV=development

PYTHONGENERATEBYTECODE=0

REDIS_URL=redis://localhost:6379

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIM_EMAIL=