DB_URL=postgresql+asyncpg://postgres:password@localhost/pos_system

JWT_SECRET=
DOMAIN_NAME=localhost
APP_ENV=development

PYTHONGENERATEBYTECODE=0

REDIS_URL=redis://localhost:6379

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIM_EMAIL=

RESEND_API_KEY=
RESEND_SIGNING_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_SECRET=
CLOUDINARY_KEY=
IMAGE_FOLDER=kluda

SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_PHONE=

LOKI_URL=
LOKI_USERNAME=
LOKI_PASSWORD=